.pagination {
    display: inline-block;
    cursor: pointer;
    justify-content: end;
    padding-right: 60px;
    
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #434343;
    font-size: 15px;
  }
  .pagination a:hover{
    background-color: #525251;
    color: white;
  }
  .pagination a.active {
    background-color: #525251;
    color: white;
    border: 1px solid #525251;
  }
  
  .pagination a:hover:not(.active) 
  {
    background-color:#525251;
    color: white;
}
.page{
    display: flex;
    align-items: flex-end;
    justify-content: end;

    margin-top: 30px;

    
}